# Endpoint RPC Sango (défaut devnet local)
VITE_SANGO_RPC_URL=http://127.0.0.1:8545

# Endpoint du faucet HTTP (devnet/testnet)
VITE_SANGO_FAUCET_URL=http://127.0.0.1:3000

# Réseau par défaut : mainnet | testnet
VITE_SANGO_NETWORK=testnet
